/* .nav-menu .menu-default {
  display: none !important;
} */

.menu-default {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
}