* {
  text-align: center;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 0;
  margin: 0;
  border: 0;
}

.nav-menu ul,
.nav-menu li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #303030;
}

.nav-menu li {
  float: left;
}

.nav-menu.li,
.nav-menu a,
.dropbtn-sobre {
  display: inline-block;
  background-color: #303030;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-menu li a:hover,
.dropdown-cat:hover .dropbtn-cat {
  background-color: red;
}

.nav-menu li a:hover,
.dropdown-sobre:hover .dropbtn-sobre {
  background-color: red;
}

li.dropdown-cat {
  display: inline-block;
}

li.dropbtn-sobre {
  display: inline-block;
}

.dropdown-content-cat {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  z-index: 1;
}

.dropdown-content-sobre {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  z-index: 1;
}

.dropdown-content-cat a {
  color: #c4c4c4;
  background-color: #303030;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content-sobre a {
  color: #c4c4c4;
  background-color: #303030;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-cat:hover .dropdown-content-cat {
  display: block;
}

.dropdown-sobre:hover .dropdown-content-sobre {
  display: block;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #303030;
  color: #c4c4c4;
}

.nav-menu h3,
.nav-menu img {
  font-size: 2em;
  background-color: #303030;
  color: #ff0000;
  text-align: center;
  margin: 0 0 0 0;
}

.user-icon a {
  background-color: #303030;
  margin: 0;
  padding: 0;
}

.user-icon img {
  background-color: #ff0000;
}

.nav-menu h3 {
  margin: 0 0 0 1em;
}

.nav-menu a {
  background-color: #303030;
}

header,
header iframe {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.categorias {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 4.5em;
  margin-bottom: 5em;
}
.categorias ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.categorias li {
  margin: 2em;
}

.categorias li img {
  width: 100%;
}

.video {
  object-fit: fill;
}

.categorias h2 {
  font-size: 3em;
  font-weight: 700;
  color: #ff0000;
}
.botoes-cat img {
  visibility: hidden;
  width: 2.5em;
  margin: 1.5em;
  border: 0;
  cursor: pointer;
}

.calendario {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 4.5em;
}

.calendario h2 {
  font-size: 3em;
  font-weight: 700;
  color: #ff0000;
}

.botoes-calendario {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.botoes-calendario button,
.botoes-calendario button a {
  background-color: #303030;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 1em;
  border-radius: 0.5em;
  width: 8em;
  text-align: center;
  cursor: pointer;
}

.botoes-calendario button:active {
  background-color: #ff0000;
}

#botao-diamante:hover,
#botao-diamante:hover a {
  background-color: #ff0000;
}

#botao-ouro:hover,
#botao-ouro:hover a {
  background-color: #ff0000;
}

#botao-prata:hover,
#botao-prata:hover a {
  background-color: #ff0000;
}

#botao-bronze:hover,
#botao-bronze:hover a {
  background-color: #ff0000;
}

#botao-f2:hover,
#botao-f2:hover a {
  background-color: #ff0000;
}



.calendario ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 1.5em;
  padding: 0;
}

.calendario li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  border-right: 0.1em solid #303030;
  border-bottom: 0.1em solid #303030;
  border-bottom-right-radius: 1em 1em;
  padding: 0.8em;
}

.calendario li h3,
.calendario li span,
.calendario li span p {
  width: 100%;
}

.calendario li img {
  width: 70%;
}

.calendario h3 {
  color: #ff0000;
  font-weight: 700;
  font-size: 1.8em;
}

.num-corrida {
  font-size: 3em;
}

.calendario li span p {
  margin-bottom: 1.8em;
  font-weight: 700;
  font-size: 1.2em;
}

.botoes-cal img {
  visibility: hidden;
  width: 2.5em;
  margin: 1.5em;
  border: 0;
  cursor: pointer;
}

.botoes-redes-sociais {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 0.2em;
  flex-basis: 100%;
}

.botoes-redes-sociais li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em 1em 0.4em 1em;
  margin: 0 0.05em;
  background-color: #303030;
}

.botoes-redes-sociais a,
.botoes-redes-sociais img {
  background-color: #303030;
}

.box-youtube:hover,
.box-youtube:hover a,
.box-youtube:hover img {
  background-color: #ff0000;
}

.box-instagram:hover,
.box-instagram:hover a,
.box-instagram:hover img {
  background-color: #c0007a;
}

.box-twitter:hover,
.box-twitter:hover a,
.box-twitter:hover img {
  background-color: #029abc;
}

.box-facebook:hover,
.box-facebook:hover a,
.box-facebook:hover img {
  background-color: #021fb5;
}

.box-twitch:hover,
.box-twitch:hover a,
.box-twitch:hover img {
  background-color: #6441a5;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-top: 2em;

  flex-direction: column;
}

footer h4 {
  text-align: center;
  font-size: 1.4em;
  color: #ff0000;
}

.patrocinadores li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.patrocinadores img {
  padding: 0.5em;
}

#copyright {
  background-color: #303030;
  color: #c4c4c4;
  margin-top: 0.5em;
  width: 100%;
}

.cards-diamante{
  flex-direction: column;
}
